ul {
    float: none;
    position: absolute;
    background: #bb1e10;
}

.dropdown  {
    margin-top: 14px;
    padding-left: 8px ;
    padding-right: 8px ;
    float: none;
    position: absolute;
    background: #bb1e10;
}

.ddItem {
    margin-top: 4px;
    margin-bottom: 4px;
}